@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Concert+One&family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  overflow: hidden;
}

.reserve-container {
  width: 400px;
  padding: 20px;
  background-color: #f3f3f3;
  background: url("https://picsum.photos/id/1015/500/700");
  object-fit: cover;
  position: relative;
  height: 100dvh;
}

.back-btn {
  position: absolute;
}

.invited {
  position: absolute;
  top: 100px;
  width: 100%;
  left: 0px;
}

.invited span {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 20px;
  display: block;
  text-align: center;
  margin: auto;
  width: 80%;
}

.flower-container {
  position: absolute;
  left: 0px;
  bottom: 350px;
  z-index: 1000;
  text-align: center;
  width: 100%;
}

form {
  background-color: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px s0px;
  padding-top: 50px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

form h2 {
  margin-top: 20px;
  font-family: "Dancing Script", cursive;
}

form p {
  margin: 20px 0px;
}

form h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: pan-y;
}

.slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease-in-out;
}

.slide {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ebf1ca;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0.5;
}

.slide.active img {
  width: 130px;
  height: 130px;
  opacity: 1;
  z-index: 2;
}

.others {
  padding: 0px 20px;
}

.card-info {
  border-top: 1px solid rgba(256, 256, 256, 0.5);
  padding-top: 20px;
  margin-top: 20px;
}

.card-info div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.union-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.union-date p {
  font-size: 18px;
}

.union-date div {
  background-color: #ebf1ca;
  color: #598557;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

@media screen and (max-width: 500px) {
  .reserve-container {
    width: 100%;
  }
}
