@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Concert+One&family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  overflow: hidden;
}

.reserve-container {
  width: 400px;
  padding: 20px;
  background-color: #f3f3f3;
  background: url("../images/background.png");
  object-fit: cover;
  position: relative;
  height: 100dvh;
}

.back-btn {
  position: absolute;
}

.chair {
  position: absolute;
  margin-left: 10px;
  bottom: 300px;
  z-index: 1000;
}

.card-container {
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 300px;
  width: 100%;
  z-index: 10;
}

.img-sphere-container {
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 260px;
  width: 100%;
  z-index: 10;
}

.img-sphere {
  width: 90%;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  margin: auto;
  background-image: url("../images/pattern.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.card h2 {
  font-family: "Dancing Script", cursive;
  margin: 20px 0px;
}

.card img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.create-card-container {
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 20px;
}

.create-card {
  background-color: white;
  border-radius: 20px;
  padding: 100px 20px 50px;
  width: 85%;
  margin: auto;
  background-image: url("../images/pattern.png");
}

.create-card p {
  text-align: center;
  background-color: #fef7ff;
  border-radius: 20px;
  padding: 10px;
  font-family: "Dancing Script", cursive;
}

.create-card h2 {
  margin-top: 20px;
  font-family: "Dancing Script", cursive;
}

.create-card-button {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  padding: 15px;
}

.create-card-button:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 500px) {
  .reserve-container {
    width: 100%;
  }
}
