* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.splash-container1 {
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.frame-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-frame {
  position: absolute;
  top: -100px;
}
.bottom-frame {
  position: absolute;
  bottom: -100px;
}
